<app-menu-bar></app-menu-bar>
<div class="to-filter-bg">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="to-filter-text">Add filters from the search box</div>
      </div>
      <div class="col-md-4 offset-md-4  text-right">
        <div class="input-group to-input-tb">
          <input class="form-control py-2" />
          <span class="input-group-append">
            <button class="btn btn-outline-secondary to-filter-btn" type="button">
              <i class="fa fa-search to-icon-color"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class=" thead-dark">
        <tr>
          <td></td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
        </tr>
        <tr>
          <th>
            <i class="fa fa-square"></i>
          </th>
          <th>Ship Week</th>
          <th>Patched</th>
          <th>Unpatched</th>
          <th>Total inventory</th>
          <th>Client</th>
          <th>Shortages</th>
          <th>Patched date</th>
          <th>Patched by</th>
          <th>Patched method</th>
          <th>Description</th>
  
          <th>Reassign</th>
          <th>Ordered qty</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody class="es_tableBody1">
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow2">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
        <tr class="es_tableRow1">
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>ship week</td>
          <td>patched</td>
          <td>unpatched</td>
          <td>total inventory</td>
          <td>client</td>
          <td>shortages</td>
          <td>patched date</td>
          <td>patched by</td>
          <td>patched method</td>
          <td>description</td>
  
          <td>reassign</td>
          <td>ordered qty</td>
          <td> user</td>
        </tr>
      </tbody>
    </table>
  </div>  