<app-menu-bar></app-menu-bar>
<div class="to-filter-bg">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <div class="to-filter-text-patching">
          <h4>Patching Manual</h4>
        </div>
      </div>
      <div class="col-md-3 ">
      </div>

      <div class="col-md-1 mt-2 offset-md-3">
        <div class="patching-box">
          <p>Work Log</p>
        </div>
      </div>

      <div class="col-3 text-right">
        <div class="patching-button-top">
          <button class="patching-combifix-edit-btn"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="crew-location-area">
        <p class="patching-title">Crew Location Review</p>

        <div class="crew-location-form">
          <div class="form-row">
            <div class="form-group col-10">
              <div class="row">
                <div class="col">
                  <div class="to-purchase-title-combifix">Crew :</div>
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSalesOrder"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSalesOrder"
                  />
                </div>

                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSalesOrder"
                  />
                </div>
                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSalesOrder"
                  />
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <div class="to-purchase-title-combifix">
                    House :
                  </div>
                </div>
                <div class="col">
                  <select
                    id="inputTerms"
                    class="form-control  to-classic-seed"
                  >
                    <option defaultValue></option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col">
                  <div class="to-purchase-title-combifix">Bay :</div>
                </div>

                <div class="col">
                  <input
                    type="text"
                    class="form-control"
                    id="inputSalesOrder"
                  />
                </div>

                <div class="col">
                  <div class="to-purchase-title-combifix">Zone :</div>
                </div>
                <div class="col">
                  <select
                    id="inputTerms"
                    class="form-control  to-classic-seed"
                  >
                    <option defaultValue></option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="scan-trays-area">
        <p class="patching-title">Crew Location Review</p>

        <div class="row">
          <div class="col">
            <div class="to-purchase-title-combifix-trays">
              Barcode
            </div>
            <input
              type="text"
              class="form-control"
              id="inputDiscounts"
              placeholder=""
            />
          </div>
          <div class="col">
            <div class="to-purchase-title-combifix-trays">
              # of Trays
            </div>
            <input
              type="text"
              class="form-control"
              id="inputDiscounts"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="crew-location-area">
        <div class="row">
          <div class="col">
            <div class="to-purchase-title-combifix">Ship Week :</div>
          </div>
          <div class="col">
            <div class="inline-input-combifix">
              <input
                type="text"
                class="form-control mr-3"
                id="inputSalesOrder"
              />
              <input
                type="text"
                class="form-control"
                id="inputSalesOrder"
              />
            </div>
          </div>
          <div class="col">
            <div class="to-purchase-title-combifix">Item :</div>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="inputSalesOrder"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <div class="to-purchase-title-combifix">Type :</div>
          </div>
          <div class="col">
            <div class="inline-input-combifix">
              <input
                type="text"
                class="form-control"
                id="inputSalesOrder"
              />
            </div>
          </div>
          <div class="col">
            <div class="to-purchase-title-combifix">Desc :</div>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="inputSalesOrder"
            />
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="to-purchase-title-combifix">Batch :</div>
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="inputSalesOrder"
            />
          </div>

          <div class="col">
            <div class="to-purchase-title-combifix">Tray of :</div>
          </div>

          <div class="col">
            <div class="inline-input-combifix">
              <input
                type="text"
                class="form-control mr-3"
                id="inputSalesOrder"
              />
              <input
                type="text"
                class="form-control"
                id="inputSalesOrder"
              />
            </div>
          </div>
          <div class="col">
            <div class="sub-btn-combifix">
              <button class="patching-combifix-submit-btn">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class=" table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>Item</th>
              <th>Type</th>
              <th>Description</th>
              <th>Batch</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
            <tr>
              <td>item</td>
              <td>type</td>
              <td>Description</td>
              <td>Batch</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
