<nav class="navbar navbar-expand-lg navbar-light bg-light nav-custom-bg">
  <a class="navbar-brand" href="#"><img style="width:171px;" src="assets/images/vbm_revlg.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown nav-item-context nav-item-border">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Greg Brewster<span class="header-notification">3</span>
        </a>
        <div class="dropdown-menu myDropdown" aria-labelledby="navbarDropdown">
           <p class="p-notification-text">My Notification</p> 
           <ul class="noti-ul text-center">
               <li> <a class="" href="#"><img src="assets/icons/noti-icon.png" alt=""> Module Name<span class="notification-item-icon">2</span></a></li>
               <li> <a class="" href="#"><img src="assets/icons/noti-icon.png" alt=""> Module Name<span class="notification-item-icon">1</span></a></li>
           </ul>
        </div>
      </li>
      <li class="nav-item nav-item-context">
              <a class="nav-link" href="#">CORE PROTOTYPE</a>
            </li>
    </ul>
    <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown icon-cog myDropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/icons/setting-icon.png" alt=""></a>
            <div class="dropdown-menu myDropdown-sub" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Users</a>
              <a class="dropdown-item" href="#">Roles</a>
              <a class="dropdown-item" href="#">Permissions</a>
              <a class="dropdown-item" href="#">Error Logs</a>
              <a class="dropdown-item" href="#">Audits</a>
              <a class="dropdown-item" href="#">Settings</a>
            </div>
          </li>
          <li class="nav-item nav-item-keyboard">
                  <a class="nav-link"><img style="width:53px;" src="assets/icons/keyboard.png" alt="keyboard"></a>
           </li>
  
           <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#logout"><img style="width:63px;" src="assets/icons/logout.png" alt="logout"></a>
           </li>
        </ul>
  </div>
</nav>


