<app-menu-bar></app-menu-bar>
<div>
    <ul class="es_purchase-ul">
        <li class="es_purchase-li"><span routerLink="/new-purchasing-order" class="es_purchase-menu-item"><i class="fa fa-check es_check-purchase" aria-hidden="true"></i> 1. Purchase Header</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-details" class="es_active-title es_purchase-menu-item">2. Purchase Details</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-review" class="es_beforePurchase-menu-item">3. Purchase Review</span></li>>
    </ul>
 </div> 

 <div class="container-fluid ">

    <form class="es_purchase-input">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputUnit"># Unit/Loads</label>
                    <input type="text" class="form-control to-input-f-b-c" id="inputUnit" placeholder="25">
            </div>
            <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputFOB">FOB</label>
                <input type="text" class="form-control to-input-f-b-c" id="inputFOB">
            </div>
            <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputSurcharge">Surcharge</label>
                <input type="text" class="form-control to-input-f-b-c" id="inputSurcharge" placeholder="$50.00">
            </div>
            <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputCreator">Ship Date</label>
                <input type="date" class="form-control to-input-f-b-c" id="inputCreator" placeholder="05/10/2019">
            </div>
        </div>

    </form>

</div>

<section class="button-area">
    <div class="container text-center">
        <button routerLink="/new-purchasing-order" type="button" class="btn  btn-lg es_button-default-to-3">Go Back</button>
        <button type="button" class="btn  btn-lg es_button-default-to-3">Review Order</button>
    </div>
</section>