<div class="bg-image">
    <app-menu-bar></app-menu-bar>
    <section class="main" id="bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-img text-center purchasing-hero-area">
                        <img src="assets/images/vbm_hero_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="purchasing-title text-center">  
                        <h3><img src="assets/icons/icon_purchasing_main.png" alt=""> Purchasing</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 offset-md-3 p-t-100">
                    <form class="text-center">
                        <div class="form-group new-form">
                            <input type="text" list="browsers" class="form-control" id="autocomplete" placeholder="Search PO">
                            <div class="search-menu-icon">
                                <a href="#" data-toggle="modal" data-target="#chooseModuleModal"><img src="assets/icons/menu.png" alt="menu"></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       
            <div class="row">
                <div class="col-xl-12">
                    <div class="recent-title text-center">
                        <h3>Purchasing Modules</h3>
                    </div>
                </div>
            </div>
            <div class="row recent-used-item">
    
                <div class="col-xl-3 ">
                    <div class="recent-item-box text-center">
                        <img src="assets/icons/icon_purchasing_newpo.png" alt="">
                        <span routerLink="/new-purchasing-order">New PO</span>
                    </div>
                </div>
                <div class="col-xl-3 ">
                    <div class="recent-item-box text-center">
                        <img src="assets/icons/icon_purchasing_seachpo.png" alt="">
                        <span routerLink="/purchasing-search-po"
                        >Search PO's</span>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="recent-item-box text-center">
                        <img src="assets/icons/tint.png" alt="">
                        <span>Reports</span>
                    </div>
                </div>
             
    
            </div>
    
        
            <div class="row copyright">
                <div class="col-xl-12 text-center">
                    <p class="copy-right-text">Copyright &copy; IDAPT 2019</p>
                </div>
            </div>
        </div>
    </section>
</div>

