<app-menu-bar></app-menu-bar>
<div class="to-filter-bg">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="to-filter-text">Add filters from the search box</div>
      </div>
      <div class="col-md-4 offset-md-4  text-right">
        <div class="input-group to-input-tb">
          <input class="form-control py-2" />
          <span class="input-group-append">
            <button class="btn btn-outline-secondary to-filter-btn" type="button">
              <i class="fa fa-search to-icon-color"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <td></td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
          <td>
            <input type="text" class="form-control" />
          </td>
        </tr>
        <tr>
          <th>
            <i class="fa fa-square"></i>
          </th>
          <th>BATCH ID</th>
          <th>TRAY SIZE</th>
          <th># OF TRAYS</th>
          <th>% YIELD</th>
          <th>MACHINE ID</th>
          <th>USERS</th>
          <th>COMPLETED DATE</th>
          <th>STATUS</th>
          <th>BATCH SIZE</th>
          <th>TOTAL REMAINING</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
        <tr>
          <td>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" />
              </label>
            </div>
          </td>
          <td>123456789</td>
          <td>10000</td>
          <td>400</td>
          <td>05</td>
          <td>87634728</td>
          <td>20</td>
          <td>04/10/2019</td>
          <td>Running</td>
          <td>500</td>
          <td>250</td>
        </tr>
      </tbody>
    </table>
  </div>  