<app-menu-bar></app-menu-bar>
<div>
    <ul class="es_purchase-ul">
        <li class="es_purchase-li"><span routerLink="/new-purchasing-order" class="es_purchase-menu-item"><i class="fa fa-check es_check-purchase" aria-hidden="true"></i> 1. Purchase Header</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-details" class="es_active-title es_purchase-menu-item">2. Purchase Details</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-review" class="es_beforePurchase-menu-item">3. Purchase Review</span></li>>
    </ul>
 </div> 

 <div class="container-fluid ">
       
    <form class="es_purchase-input">
            <div class="form-row">
                    <div class="form-group col-md-3">
                            <label class="to-title-f-p-size" for="inputTerms">Item Type</label>
                            <select id="inputTerms" class="form-control to-input-f-b-c to-classic">
                              <option selected>Plastics</option>
                              <option>...</option>
                            </select>
                        
                      </div>
              <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputPurchaseOrder">Item Cost</label>
                <input type="text" class="form-control to-input-f-b-c" id="inputPurchaseOrder" placeholder="$125.00">
              </div>
              <div class="form-group col-md-3">
                    <label class="to-title-f-p-size" for="inputVendor">Item Description</label>
                    <input type="text" class="form-control to-input-f-b-c" id="inputVendor" placeholder="Green Plastic thing">
                  </div>
                  <div class="form-group col-md-3">
                        <label class="to-title-f-p-size" for="inputCreator"># of Units/Loads</label>
                        <input type="text" class="form-control to-input-f-b-c" id="inputCreator" placeholder="5">
                      </div>
            </div>
           
            <div class="form-row">
              <div class="form-group col-md-3">
                    <label class="to-title-f-p-size" for="inputTerms">Shipping Type</label>
                    <select id="inputTerms" class="form-control to-input-f-b-c to-classic">
                      <option selected>Shipping Type</option>
                      <option>...</option>
                    </select>
                
              </div>
              
              <div class="form-group col-md-3">
                <label class="to-title-f-p-size" for="inputDiscounts">Surcharge</label>
                <input type="text" class="form-control to-input-f-b-c" id="inputDiscounts" placeholder="$10.00">
              </div>
              <div class="form-group col-md-3">
                    <label class="to-title-f-p-size" for="inputDescriptionOrder">Ship Date</label>
                    <input type="date" class="form-control to-input-f-b-c" id="inputDescriptionOrder" placeholder="Order description">
                  </div>
                  <div class="form-group col-md-3">
                        <div class="form-check">
                                <label class="to-title-f-p-size" for="inputDescriptionOrder">FOB</label> <br>
                                <input class="form-check-input position-static es_purchase-checkbox to-input-f-b-c" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                              </div>
                      </div>
                  
            </div>
            

          </form>

</div>    
<section class="button-area">
        <div class="container text-center">
            <button type="button" class="btn  btn-lg es_button-default-to-2">+ Add Item</button>
            
        </div>
        
 </section>
