<nav class="navbar navbar-expand-lg navbar-light bg-light nav-custom-bg login-header">
    <a class="navbar-brand" href="#"><img style="width:171px;" src="assets/images/vbm_revlg.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-item-keyboard">
                <a class="nav-link"><img style="width:53px;" src="assets/icons/keyboard.png" alt="keyboard"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logout"><img style="width:63px;" src="assets/icons/logout.png" alt="logout"></a>
            </li>
        </ul>
    </div>
</nav>


<section class="loginArea pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="loginHeroImage text-center">
                    <img src="assets/images/vbm_hero_img_2.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="loginForm">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" id="bg-scale" placeholder="Employee ID">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="" placeholder="6 Digit Pin">
                        </div>

                    </form>
                    <p>Hint: This is your hint</p>
                    <div class="loginFormButton text-center">
                        <a [routerLink]="['dashboard']" class="loginButton">Login</a>
                    </div>
                    <div class="loginFormButton text-center">
                        <a href="" data-toggle="modal" data-target="#forgetPin" class="forgetPinButton">Forget PIN</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="loginPagefooterText text-center">
                    <p>v 1.0</p>
                    <p>Copyright &copy; IDAPT 2019</p>
                </div>
            </div>
        </div>
    </div>
</section>
