a.loginButton {
    color: #fff;
    background: rgb(114, 156, 0);
    background: linear-gradient( 90deg, rgba(114, 156, 0, 1) 0%, rgba(150, 204, 5, 1) 52%, rgba(114, 156, 0, 1) 100% );
    display: block;
    width: 332px;
    margin: 0 auto;
    padding: 15px 0px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    font-size: 26px;
}

a.forgetPinButton {
    color: #fff;
    background: rgb(99, 97, 97);
    background: linear-gradient( 90deg, rgba(99, 97, 97, 1) 0%, rgba(130, 130, 130, 1) 52%, rgba(99, 97, 97, 1) 100% );
    display: block;
    width: 334px;
    margin: 0 auto;
    padding: 15px 0px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
}