<app-menu-bar></app-menu-bar>
<div>
    <ul class="es_purchase-ul ">
        <li class="es_purchase-li ">
            <span routerLink="/new-purchasing-order" class="es_active-title  es_purchase-menu-item">1. Purchase Header</span
        >
      </li>
      <li class="es_purchase-li ">
        <span routerLink="/purchasing-details" class="es_beforePurchase-menu-item">2. Purchase Details</span>
      </li>
      <li class="es_purchase-li ">
        <span  routerLink="" class="es_beforePurchase-menu-item">3. Purchase Review</span>
      </li>
    </ul>
  </div>

  <div class="container-fluid ">
    <form class="es_purchase-input">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputOrderDate"
            >Order Date</label
          >
          <input
            type="date"
            class="form-control to-input-f-b-c"
            id="inputEmail4"
            placeholder="04/10/2019"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputPurchaseOrder"
            >Purchase Order #</label
          >
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputPurchaseOrder"
            placeholder="246813579"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputVendor">Vendor</label>
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputVendor"
            placeholder="ACME COMPANY"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputCreator">Creator</label>
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputCreator"
            placeholder="Greg Brewster"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputSalesOrder"
            >Sales Order #</label
          >
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputSalesOrder"
            placeholder="0987654321"
          />
        </div>
        <div class="form-group col-md-3">
          <div class="row">
            <div class="col">
              <label class="to-title-f-p-size" for="inputTerms">Terms </label>

              <select
                id="inputTerms"
                class="form-control to-input-f-b-c to-classic"
              >
                <option selected>Net 30</option>
                <option>...</option>
              </select>
            </div>

            <div class="col">
              <label class="to-title-f-p-size" for="inputDept">Dept</label>
              <input
                type="text"
                class="form-control to-input-f-b-c"
                id="inputDept"
              />
            </div>
          </div>
        </div>

        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputDiscounts"
            >Discounts</label
          >
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputDiscounts"
            placeholder="Discounts"
          />
        </div>
        <div class="form-group col-md-3">
          <label class="to-title-f-p-size" for="inputDescriptionOrder"
            >Description of Order</label
          >
          <input
            type="text"
            class="form-control to-input-f-b-c"
            id="inputDescriptionOrder"
            placeholder="Order description"
          />
        </div>
      </div>
    </form>
  </div>

  <section class="button-area">
    <div class="container text-center">
      <button routerLink="/purchasing-details" type="button" class="btn  btn-lg es_button-default-to">
        By Item
      </button>
      <button routerLink="/purchasing-by-order" type="button" class="btn  btn-lg es_button-default-to">
        By Order
      </button>
    </div>
  </section>