
<section>
    <app-menu-bar></app-menu-bar>
    <div class="to-filter-bg">

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="to-filter-text">
                    Add filters from the search box
                </div>

            </div>
            <div class="col-md-3 offset-md-5  text-right">
                <div class="input-group to-input-tb">
                    <input class="form-control py-2" placeholder="Search filter example">
                    <span class="input-group-append">
                                <button class="btn btn-outline-secondary to-filter-btn" type="button">
                                    <i class="fa fa-search to-icon-color"></i>
                                </button>
                            </span>
                </div>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <thead class=" thead-dark"><tr><td></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td></tr><tr><th><i class="fa fa-square"></i></th><th>PO Number</th><th>Order Date</th><th>Vendor</th><th>Created By</th><th>Sales Order #</th><th>Terms</th><th>Dept</th><th>Discounts</th><th>Description</th><th>Status</th></tr></thead>

        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Open</th>
                </tr>
            </thead>
            <thead class="es_tableHead-bg es_tableHead1">
                <tr>
                    <th scope="col"><i class="fas fa-square"></i></th>
                    <th scope="col">PO Number</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Sales Order #</th>
                    <th scope="col">Terms</th>
                    <th scope="col">Dept</th>
                    <th scope="col">Discounts</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="es_tableBody1">
                <tr class="es_active-title">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="" checked>
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow2">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>
                <tr class="es_tableRow1">

                    <td>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                            </label>
                        </div>
                    </td>
                    <td>#246813579</td>
                    <td>04/10/2019</td>
                    <td>Acme Company</td>
                    <td>Greg Brewster</td>
                    <td>0987654321</td>
                    <td>Net 30</td>
                    <td></td>
                    <td></td>
                    <td>Order description</td>
                    <td>Running</td>

                </tr>

            </tbody>
        </table>
    </div>

</section>

<!-- logout modal -->
<!-- Modal -->
<section class="logout-modal">
    <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-text-content text-center">
                        <p>Are you sure you want to logout?</p>
                    </div>
                    <div class="model-button-area">
                        <div class="logut-buttons text-center">
                            <a href="login.html">Logout</a>
                        </div>
                        <div class="logut-buttons text-center">
                            <a href="login.html">Logout & Exit</a>
                        </div>
                        <div class="logut-buttons text-center">
                            <a href="#">Back to System</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>