<app-menu-bar></app-menu-bar>
<div class="main-bg" style="height: 1000px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 purchasingHeroArea">
                <div class="hero-img hero-img-small text-center">
                    <img src="assets/images/vbm_logosm.png" alt="" />
                    <div class="bob-image">
                        <img src="assets/images/bobsmarketlogo.gif" alt="" />
                    </div>
                </div>
                <div class="pur-dash-hero-area text-center">
                    <h1>
                      <img
                        src="assets/icons/icon_patching.svg"
                        alt=""
                      />
                      Patching
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 offset-md-3 p-t-100">
                <form class="text-center">
                    <div class="form-group new-form">
                        <input type="text" list="browsers" class="form-control" id="autocomplete" placeholder="Search Modules" />
                        <div class="search-menu-icon">
                            <a>
                                <img src="assets/icons/menu.png" alt="menu" />
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row recent-used-item-to">

            <div class="col-sm-3 ">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/patching-list">Patching Lists</a></p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/patching-production-data">Patching Production Data</a></p>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/patching-combifix">Patching Combifix</a></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/patching-manual">Patching Manual</a></p>
                </div>
            </div>

        </div>
        <div class="row recent-used-item-to">

            <div class="col-sm-3 ">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/shortages-extras">Shortages & Extras</a></p>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="recent-item-box-to">
                    <p><img src="assets/icons/tint.png" alt=""> <a routerLink="/patching-production">Patching Production</a></p>
                </div>
            </div>

        </div>
    </div>
</div>