/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.pt-100{
  padding-top: 100px;
}

.setting-menu ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .setting-menu ul li a img {
    width: 50px;
  }
  
  .setting-menu ul li i {
    font-size: 35px;
    color: #000000;
    /* padding-top: 8px; */
    position: relative;
    top: 10px;
  }
  
  .module-menu {
    margin-top: 15px;
  }
  
  .module-menu ul li a {
    font-size: 16px;
    color: #3d3c3c;
    font-weight: 700;
    text-decoration: none;
  }
  
  .nav-custom-bg {
    background: url('assets/images/header-bg.png') no-repeat;
    background-size: cover;
  }

  #navbarDropdown {
    font-size: 22px;
    color: #3d3c3c;
    font-weight: 500 !important;
    text-transform: capitalize;
  }
  
  .nav-item-context a {
    color: #3d3c3c !important;
    margin-right: 50px;
    text-transform: uppercase;
  }
  
  .icon-cog img {
    position: relative;
    top: 8px;
  }
  
  li.nav-item.nav-item-keyboard img {
    position: relative;
    top: 14px;
  }
  li.nav-item.nav-item-timer img {
    position: relative;
  }
  
  .nav-item-context a {
    font-size: 22px;
    font-weight: 500 !important;
    color: #3d3c3c;
    margin-left: 24px;
  }
  
  .nav-item-border::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 2px;
    height: 20px;
    background: #c1b9b9;
    top: 15px;
  }
  
  .header-notification {
    position: absolute;
    background: #c70000;
    color: #fff;
    padding: 1px 5px;
    border-radius: 50%;
    font-size: 10px;
    top: -3px;
    font-weight: 900;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }
  
  .main-bg {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("assets/images/Maindashboardbg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .new-form input {
    width: 420px;
    border: 1px solid #9f9f9f;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 28px 13px;
  }
  
  .search-menu-icon img {
    width: 65px;
    position: relative;
    top: 2px;
    left: 10px;
    cursor: pointer;
  }
  
  .new-form {
    display: flex;
  }
  
  .recent-title.text-center {
    margin-top: 20px;
  }
  
  .recent-title.text-center h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .copyright {
    padding-bottom: 30px;
  }
  
  .copy-right-text {
    color: #8f8f8f;
    margin-top: 70px;
    font-size: 18px;
  }
  
  .recent-used-item {
    margin-top: 20px;
  }
  
  .recent-item-box {
    background: #2d2d2d;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .recent-item-box span {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    vertical-align: middle;
    margin-left: 10px;
  }
  
  .p-notification-text {
    color: #fff;
    padding: 10px 0;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #343434;
    width: 200px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    padding-bottom: 20px;
    top: 64px;
  }
  
  .noti-ul li {
    background: #424242;
    margin-bottom: 3px;
  }
  
  .navbar-expand-lg .navbar-nav .dropdown-menu a {
    margin-bottom: 10px;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  ul.noti-ul li a {
    margin: 0;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none;
    font-weight: 500 !important;
    font-family: "Roboto";
    text-transform: capitalize;
  }
  
  span.notification-item-icon {
    margin-left: 5px;
    background: red;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
  }
  
  .myDropdown-sub {
    width: 200px !important;
    position: absolute;
    top: 85px !important;
    border-radius: 0 !important;
  }
  
  .myDropdown .dropdown-item:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
  
  .myDropdown-sub a {
    color: #fff;
    background: transparent !important;
    padding: 0;
    margin: 0 !important;
    font-size: 26px;
    font-weight: 500 !important;
    margin-left: 10px !important;
  }
  
  .es_tableHead-bg {
    background-color: #3d3c3c;
  }
  
  .es_tableHead {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  
  .es_tableBody {
    color: #3d3c3c;
    font-size: 14px;
    font-weight: 500;
  }
  
  .es_tableRow1 {
    background-color: #ebebeb;
  }
  
  .es_tableRow2 {
    background-color: #dcdbdb;
  }
  
  .es_tableHead1 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
  }
  
  .es_tableBody1 {
    color: #3d3c3c;
    font-size: 18px;
    font-weight: 500;
  }
  
  .es_active-title {
    background-color: #83ae0d;
    color: #ffffff;
  }
  
  section.button-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  a.to-button-default {
    color: #fff;
    background: #89b219;
    font-size: 32px;
    padding: 10px 50px;
    border-radius: 10px;
    width: 289px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
  }
  a.to-button-default:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .logout-modal .modal-content {
    background-color: #3d3c3c;
    width: 600px;
  }
  
  .modal-text-content {
    margin-top: 30px;
  }
  
  .modal-text-content p {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .model-button-area {
    margin-top: 15px;
  }
  
  .logut-buttons a {
    color: #fff;
    background: rgb(141, 193, 0);
    background: radial-gradient(
      circle,
      rgba(141, 193, 0, 1) 0%,
      rgba(71, 95, 1, 1) 95%,
      rgba(63, 85, 1, 1) 100%
    );
    padding: 20px 0px;
    display: inline-block;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 26px;
  }
  
  .logut-buttons a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .logout-modal .close {
    color: #fff;
    opacity: 1;
  }
  
  .to-custom-padding {
    padding: 10px;
  }
  
  .es_purchase-input {
    padding-top: 25px;
  }
  .to-title-f-p-size {
    font-size: 24px;
    padding: 5px 0px;
  }
  
  .to-input-f-b-c {
    color: #8f8f8f;
    border: 1px solid #707070;
    font-size: 24px;
  }
  
  select.to-classic {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("assets/icons/down-arrow.png");
    background-size: 2.4em;
    background-position: calc(100% - 0em) center;
    background-repeat: no-repeat;
  }
  
  .to-role-permission-title-to {
    font-size: 24px;
  }
  
  a.to-permission-button-default-to {
    color: #fff;
    background: #7daa00;
    font-size: 17px;
    padding: 5px 22px;
    border-radius: 7px;
    width: 108px !important;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }
  
  a.to-permission-button-default-to:hover {
    color: #fff;
    text-decoration: none !important;
  }
  
  a.to-permission-button-black-to {
    color: #fff;
    background: #707070;
    font-size: 17px;
    padding: 5px 22px;
    border-radius: 7px;
    width: 108px !important;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
  a.to-permission-button-black-to:hover {
    color: #fff;
    text-decoration: none !important;
  }
  
  option:checked,
  option:hover {
    color: white;
    background: #434040;
  }
  
  .to-table-border {
    border: 1px solid #bbbbbb;
    width: auto;
  }
  
  .to-permission-button-area {
    padding: 20px;
  }
  
  .button-dark {
    background: #4f4e4e !important;
  }
  
  .to-permission-button-area-2 {
    padding-top: 200px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  
  /* Munzer Topu Jan 14 */
  .hero-img.text-center {
    padding: 0px 0px 0px 0px;
  }
  .hero-img-small img {
    width: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
  }
  
  .purchasingHeroArea {
    padding-top: 50px;
  }
  
  .bob-image img {
    position: absolute;
    right: 390px;
    top: 43px;
    width: 80px;
  }
  
  .pur-dash-hero-area h1 {
    font-size: 50px;
    font-weight: 700;
  }
  
  .pur-dash-hero-area {
    margin-bottom: 40px;
  }
  
  .pur-dash-hero-area h1 i {
    color: #7daa00;
    margin-right: 10px;
  }
  
  .pur-dash-hero-area h1 img {
    width: 60px;
    margin-top: -30px;
  }
  
  .recent-used-item {
    margin-top: 20px;
  }
  
  .recent-item-box-to {
    background: #2d2d2d;
    color: #fff;
    text-align: left;
    padding-top: 20px;
    min-height: 124px;
    border-radius: 10px;
  }
  
  .recent-item-box img {
    height: 64px;
  }
  
  .recent-used-item-to {
    margin-top: 20px;
  }
  
  .recent-used-item-to .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .recent-item-box-to p {
    font-size: 26px;
    font-weight: 700;
  }
  
  .recent-item-box-to p img {
    width: 53px;
    height: 63px;
    margin-left: 15px;
  }
  
  .recent-item-box-to p a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    vertical-align: middle;
  }
  
  /* 
  Munzer Topu 15 JAN */
  
  .to-filter-bg {
    background-color: #3d3c3c;
  }
  
  .to-filter-text {
    padding: 20px;
    font-size: 24px;
    color: white;
  }
  
  .to-input-tb {
    padding: 13px !important;
  }
  
  .to-filter-btn {
    background-color: #7eaa02 !important;
  }
  
  .to-icon-color {
    color: white;
  }
  
  #plusNotificationBar {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #7daa00;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  div#plusNotificationBar i {
    border: 5px solid #fff;
    border-radius: 50%;
    padding: 12px;
  }
  
  .to-patching-table-row-color {
    background-color: #7daa00 !important;
  }
  
  .table-heading h1 {
    font-size: 32px;
    font-weight: bold;
  }
  
  .recent-item-box span a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Munzer Topu Jan 16 */
  
  .to-hide {
    display: none !important;
  }
  .to-show {
    visibility: visible !important;
  }
  
  /* Munzer Topu Jan 22 */
  
  .to-cutting-production-data {
    background: #363636;
    width: 330px;
    height: auto;
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
  
    z-index: 100;
  }
  
  .to-cutting-production-box {
    background: #666666;
    border: 1px solid #666666;
    padding: 40px 0px;
    width: 160px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 26px;
  }
  
  .to-cutting-production-box a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }
  
  .to-cutting-production-list li {
    display: inline;
    float: left;
  }
  
  .to-cutting-production-icon {
    padding: 9px;
    color: #7daa00;
  }
  
  .to-cutting-production-icon.arrow {
    color: white;
  }
  
  .header-notification {
    position: absolute;
    background: #c70000;
    color: #fff;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 10px;
    top: -3px;
    font-weight: 900;
  }
  
  .to-Purchasing-action-menu-1-list li {
    display: inline;
    float: left;
  }
  
  .to-Purchasing-action-menu-1-icon {
    padding: 9px;
    color: #7daa00;
  }
  
  .to-Purchasing-action-menu-1-icon.arrow {
    color: white;
  }
  
  .to-seed-icon img {
    width: 40px;
    position: relative;
    bottom: 0px;
  }
  
  .chooseModuleHeader-to p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    padding-top: 10px;
  }
  .chooseModuleIcon-to ul li {
    display: inline-block;
  }
  
  .chooseModuleIcon-to ul li i {
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
  }
  .chooseModuleIcon-to {
    margin-top: 10px;
  }
  
  .to-Patching-list-data {
    background: #363636;
    width: 330px;
  
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  
  .to-Patching-list-data-box {
    background: #666666;
    border: 1px solid #666666;
    padding: 40px 0px;
    width: 160px;
    height: 134px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 26px;
  }
  
  .to-Patching-list-data-box a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }
  
  .to-Patching-list-data-list li {
    display: inline;
    float: left;
  }
  
  .to-Patching-list-data-icon {
    padding: 9px;
    color: #7daa00;
  }
  
  .to-Patching-list-data-icon.arrow {
    color: white;
  }
  
  .to-Patching-production-data {
    background: #363636;
    width: 330px;
  
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
  
    z-index: 100;
  }
  
  .to-Patching-production-data-box {
    background: #666666;
    border: 1px solid #666666;
    padding: 20px 0px;
    width: 160px;
    height: 107px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 26px;
  }
  
  .to-Patching-production-data-box a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }
  
  .to-Patching-production-data-list li {
    display: inline;
    float: left;
  }
  
  .to-Patching-production-data-icon {
    padding: 9px;
    color: #7daa00;
  }
  
  .to-Patching-production-data-icon.arrow {
    color: white;
  }
  
  /* Munzer Topu Jan 23 */
  
  .to-filter-bg-2 {
    background-color: #3d3c3c;
  }
  
  .to-seed-row-color {
    background-color: #636262;
    padding: 10px 0px;
    color: white;
    margin: 0 0 !important;
    font-size: 25px;
  }
  
  .to-table {
    width: 100%;
    margin-bottom: 0rem;
    color: #1b5997;
  }
  
  .to-seed-table {
    font-size: 15px;
  }
  
  .to-seed-thead {
    background-color: #7d7c7c;
    color: white;
  }
  
  button.to-button-default {
    color: #fff;
    background: #89b219;
    font-size: 32px;
    padding: 10px 45px;
    border-radius: 10px;
    width: 289px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
  }
  button.to-button-default:hover {
    color: #fff;
    text-decoration: none !important;
  }
  
  button.to-button-disabled {
    color: #fff !important;
    background: #c6c6c6;
    font-size: 32px;
    padding: 10px 50px;
    border-radius: 10px;
    width: 289px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
  }
  
  .BottomButtons button {
    display: inline;
  }
  .BottomButtons a {
    display: inline;
  }
  
  .seeding-button-CreateAmendment {
    width: 50%;
    float: right;
    margin-top: 15px;
  }
  
  .text-CreateAmendment {
    padding: 15px 0;
  }
  
  .CreateAmendmentForm .col-xl-6 {
    padding: 0px 5px;
  }
  
  .CreateAmendmentForm .col-xl-12 {
    padding: 0px 5px;
  }
  
  .CreateAmendmentForm .form-control {
    border-radius: 0.01rem;
  }
  
  .seeding-button-CreateAmendment {
    width: 50%;
    float: right;
    margin-top: 15px;
  }
  
  a.seeding-dialog-btn {
    background: #7daa00;
    color: #fff;
    width: 49%;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a.seeding-dialog-btn:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .seeding-dialog-btn a {
    color: #fff !important;
    text-decoration: none !important;
  }
  .seeding-dialog-btn a:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  .to-seed-top-row-color {
    background-color: #3d3c3c;
    padding: 10px 0px;
    color: white;
    margin: 0 0;
  }
  
  .to-purchase-title {
    font-weight: bold;
    padding: 15px 5px;
  }
  
  .to-purchase-title-small p {
    font-size: 13px;
  
    padding: 10px;
  }
  
  .to-table-row {
    cursor: pointer;
  }
  
  .to-select-margin {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .to-seed-td-color {
    background-color: #d23333;
    color: white;
  }
  .to-seed-td-color2 {
    background-color: #e8ab00;
    color: white;
  }
  .to-seed-td-color3 {
    background-color: #fb7500;
  }
  
  .to-button-area {
    background: #ebebeb;
    padding-top: 20px;
  }
  
  .calendar-icon {
    color: black;
    font-size: 37px;
    padding-left: 25px;
  }
  
  .to-custom-text-new2 {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .already-ordered {
    width: 20px;
    height: 20px;
    background: #9bbe3d;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
  }
  .should-ordered {
    width: 20px;
    height: 20px;
    background: #e8ab00;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
  }
  
  .not-ordered {
    width: 20px;
    height: 20px;
    background: #d23333;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
  }
  
  .back-ordered {
    width: 20px;
    height: 20px;
    background: #fb7500;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
  }
  
  .ball-week-text {
    color: white;
    font-size: 18px;
    margin-top: 8%;
  }
  
  .to-text-area {
    width: 96%;
    height: 144%;
    color: #b1b1b1;
    background: white;
    padding: 10px;
    line-height: 2rem;
  }
  
  .to-check {
    color: white;
    padding: 10px;
  }
  
  button.to-weekly-button {
    color: #fff !important;
    background: #474646;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    width: 210px;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
  }
  
  .to-seed-button-default {
    color: #fff !important;
    background: #89b219 !important;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    width: 260px;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
  }
  
  .dropdownCenter {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .es_inputDropdownLebel {
    color: white;
    padding-bottom: 5px;
  }
  
  .theadSquare {
    color: white;
  }
  
  .es_row-item {
    color: red;
  }
  
  .commentIcon {
    float: right;
  }
  
  .es_bobsTableColor {
    background-color: #e4dd7c;
  }
  
  /* Muzner Topu 24 JAN */
  
  #to-plusNotificationBar {
    position: absolute;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 10px;
  }
  
  div#to-plusNotificationBar i {
    border: 5px solid black;
    border-radius: 50%;
    padding: 12px;
  }
  
  .to-seeding-action-menu {
    background: #363636;
    width: 330px;
    height: auto;
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
  
    z-index: 100;
  }
  
  .to-seeding-action-menu-box {
    background: #666666;
    border: 1px solid #666666;
    margin-bottom: 5px;
    padding-top: 75px;
    padding-bottom: 10px;
    padding-left: 5px;
    width: 160px;
    font-size: 26px;
  }
  
  .to-seeding-action-menu-box a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }
  
  .to-green-box {
    width: 30px;
    height: 30px;
    background: #7daa00;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
  }
  
  .to-custom-text {
    margin-top: 10px;
  }
  
  .to-custom-text p {
    margin-left: 50px;
    margin-bottom: 10px;
  }
  
  a.createClaimDialog-btn {
    background: #7daa00;
    color: #fff;
    width: 32%;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none !important;
    text-transform: uppercase;
    margin-left: 2px;
  }
  
  a.createClaimDialog-btn:hover {
    color: #fff;
  }
  
  .createClaimDialog-button {
    padding-top: 15px;
  }
  
  .seeding-checkbox {
    padding: 10px 0;
  }
  
  .sow3Text {
    color: white;
    padding-left: 25px;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 130%;
  }
  
  .sow3Text h1 {
    font-size: 1.5rem;
  }
  
  .sow3Text span {
    color: #8dc100;
  }
  
  .es_tableText {
    font-weight: bold;
  }
  
  .es_headerCheckIcon {
    color: #8dc100;
    padding-left: 5px;
  }
  
  /* Munzer Topu 27 Jan */
  
  .to-inventory-table-row-color {
    background-color: #7daa00 !important;
  }
  
  .comment-violet {
    color: #ac5bdb;
  }
  
  .comment-red {
    color: red;
  }
  
  .comment-color-white {
    color: white;
  }
  
  .to-seed-td-color {
    background-color: #d23333;
    color: white;
  }
  .to-seed-td-color2 {
    background-color: #e8ab00;
    color: white;
  }
  .to-seed-td-color3 {
    background-color: #fb7500;
  }
  
  .to-select-margin2 {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .to-select-margin3 {
    margin-top: 5px;
  }
  
  .back-ordered {
    width: 20px;
    height: 20px;
    background: #fb7500;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
  }
  
  button.to-seed-button-default-new {
    color: #fff !important;
    background: #89b219;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 10px;
    width: 190px;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    margin-top: -11px;
  }
  
  .to-seed-table3 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .to-seed-week-ro-color {
    background-color: #efefef !important;
  }
  .to-seed-week-ro-color2 {
    background-color: #dcdcdc !important;
  }
  .to-seed-week-ro-color3 {
    background-color: #3d3c3c !important;
  }
  
  .seed-week-normal {
    color: #3d3c3c;
  }
  .seed-week-ordered {
    color: #9bbe3d;
  }
  .seed-week-should {
    color: #e8ab00;
  }
  .seed-week-not {
    color: #d23333;
  }
  .seed-week-back {
    color: #fb7500;
  }
  
  .to-seed-td-color {
    background-color: #d23333;
    color: white;
  }
  .to-seed-td-color2 {
    background-color: #e8ab00;
    color: white;
  }
  .to-seed-td-color3 {
    background-color: #fb7500;
  }
  
  .to-custom-text-new2 p {
    margin-top: -5px;
    margin-bottom: 1rem;
  }
  
  .seed-week-normal-1 {
    color: white;
  }
  
  .to-white-color {
    color: white;
  }
  
  /* Munzer Topu 28 Jan  */
  
  .chooseModule-item-box {
    background: #fff;
    color: #363636;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #fff;
    color: #363636;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .chooseModule-item-box img {
    margin-left: 20px;
    margin-right: 10px;
    height: 64px;
  }
  
  .chooseModule-item-box span a {
    font-size: 22px;
    font-weight: 900;
    color: #5b5b5b;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
    text-align: left;
    line-height: 1.5rem;
  }
  
  .chooseModule {
    background: #363636;
  }
  
  .chooseModule {
    width: 1200px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #707070;
    z-index: 100;
  }
  
  .chooseModule-item-box p i {
    color: #89b219;
  }
  
  .chooseModule-item-box p a {
    color: #363636;
    font-weight: 700;
    text-decoration: none;
  }
  
  .chooseModuleHeader p {
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
  }
  
  .chooseModuleIcon ul li {
    display: inline-block;
  }
  
  .chooseModuleIcon ul li i {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .iconModuleClose img {
    cursor: pointer;
  }
  
  .to-recent-item-box {
    background: #363636;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 25px 0;
  }
  
  .to-recent-item-box p i {
    font-size: 35px;
    color: #7daa00;
    position: relative;
    top: 5px;
    bottom: 5px;
  }
  
  .to-recent-item-box p a {
    color: #fff !important;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    display: inline-block;
    width: 170px;
    vertical-align: middle;
    line-height: 1.7rem;
  }
  
  .to-recent-item-box img {
    width: 53px;
    margin-left: 15px;
  }
  
  .to-slider-bg {
    background-color: transparent !important;
    font-weight: normal;
    font-size: 35px;
  }
  .to-prev-icon {
    left: -150px;
    font-size: 40px;
  }
  .to-next-icon {
    right: -150px;
    font-size: 40px;
  }
  
  i.fa.fa-angle-left {
    background: #363636;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
  }
  
  i.fa.fa-angle-right {
    background: #363636;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
  }
  
  a.carousel-control-prev.to-prev-icon {
    left: -150px;
    font-size: 40px;
  }
  a.carousel-control-next.to-next-icon {
    right: -150px;
    font-size: 40px;
  }
  
  #pur-dash-plusNotificationBar {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: #363636;
    cursor: pointer;
    padding: 10px;
  }
  
  #pur-dash-plusNotificationBar i {
    border: 5px solid #363636;
    border-radius: 50%;
    padding: 12px;
  }
  
  .to-Purchasing-action-menu-box {
    background: #666666;
    border: 1px solid #666666;
    font-size: 21px;
    padding: 10px;
    padding-top: 70px;
    width: 160px;
  
    margin-bottom: 5px;
  }
  
  .to-Purchasing-action-menu-box a {
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }
  
  .to-seed-th2 {
    background-color: white !important;
    color: black !important;
    font-size: 20px;
    font-weight: bold;
  }
  
  .to-seed-table2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  
  .to-progress {
    height: 30px !important;
    color: white;
  }
  
  .to-progress p {
    margin-left: 10px;
    padding-top: 1rem;
  }
  
  .to-progress-bg {
    background-color: #83ae0d !important;
    text-align: left !important;
    font-size: 16px;
    font-weight: bolder;
  }
  .to-progress-bg2 {
    background-color: #c70000 !important;
    text-align: left !important;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .to-seed-row-color2 {
    background-color: #3d3c3c;
    padding: 10px 0px;
    color: white;
  
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Munzer Topu Jan 29 */
  
  .action-menu-bg {
    background-color: #e4dd7c;
  }
  
  .action-menu-bg a {
    color: black !important;
    text-decoration: none !important;
  }
  
  .es_seedingLane {
    padding-top: 10px;
  }
  
  .es_seedingLaneForm {
    padding: 10px 30px !important;
  }
  .es_seedingLaneForm label {
    font-weight: 600;
    padding-bottom: 5px;
  }
  
  .es_seedingLaneInput {
    background-color: #fff700;
  }
  ul.to-nav {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #2f2f2f;
  }
  
  a.nav-link.to-active.active {
    background-color: #83ae0d;
    cursor: default;
    color: white;
  }
  
  a.nav-link.to-active {
    color: white;
  }
  
  a.nav-link.to-active:hover {
    color: white !important;
  }
  
  .es_buttonArea {
    position: absolute;
    bottom: 0px;
    left: 250px;
  }
  
  .es_bgTbody {
    background-color: #504f4f;
    height: 190px;
  }
  
  .es_seedingLaneTableHeader {
    background-color: #737272;
    color: white;
  }
  
  tr.es_seedingLaneTableHeader th {
    color: white !important;
  }
  
  .es_bgTbody tbody {
    color: #fff;
  }
  
  /* Muzner Topu 30 Jan */
  
  .sub-module-title.text-center {
    font-size: 28px;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }
  
  .to-visibility-hide {
    visibility: hidden;
  }
  
  /* Muzner Topu Jan 31 */
  
  .es_buttonArea .BottomButtons button {
    display: inline-block;
  }
  
  /* Munzer Topu 3 Feb */
  
  a.nav-link.to-po-active {
    color: red;
  }
  
  .to-search-filter-to {
    border: 1px solid#7DAA00;
    background-color: #7daa00;
    border-radius: 15px;
    width: 186px;
    padding: 5px 2px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
  }
  
  .to-search-filter-to a {
    color: white;
    cursor: pointer;
  }
  
  .to-search-filter-to a:hover {
    text-decoration: none;
  }
  
  body {
    font-family: Segoe UI !important;
  }
  
  /* Munzer Topu 4 Feb  */
  
  /*all diallog css*/
  
  section.allModalArea {
    padding: 50px 0;
  }
  
  .forgetPinModelContent {
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  .forgetPinModelContent {
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  .forgetPinModalformArea input {
    width: 200px;
    margin: 0 auto;
  }
  
  .forgetPinfooter p {
    color: #fff;
    font-size: 11px;
  }
  
  .forgetPinfooter.text-center {
    margin-top: 20px;
  }
  
  .forgetPinSubmit input {
    color: #fff;
    background: #7daa00;
    padding: 12px 0px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-decoration: none;
  }
  
  .diallogPo7Content {
    margin-bottom: 10px;
  }
  
  .diallogPo7Checkbox {
    color: #fff;
    position: relative;
    top: 5px;
  }
  
  .diallogPo7Button {
    margin-top: 20px;
  }
  
  .diallogPo7Button button {
    width: 49%;
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .diallogPo7Button button:hover {
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .diallogPo7Button a {
    width: 49%;
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .diallogPo7Button a:hover {
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .notification-header {
    margin-bottom: 30px;
  }
  
  .notification-p-text {
    color: #b9b9b9;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .no-mod-context i {
    font-size: 25px;
    margin-right: 5px;
  }
  
  .no-mod-context p {
    font-size: 18px;
  }
  
  .forgetPinSubmit a {
    color: #fff;
    background: #7daa00;
    padding: 12px 0px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-decoration: none;
  }
  
  .forgetPinSubmit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .customtabs {
    background-color: #2f2f2f;
  
    text-align: center;
  
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .customtabs.nav.nav-tabs .nav-item.nav-link.active {
    color: white !important;
    background-color: #7daa00 !important;
    border: none !important;
    /* border-color: #dee2e6 #dee2e6 #fff; */
  }
  .customtabs.nav.nav-tabs .nav-item.nav-link {
    color: #888888 !important;
    padding: 15px;
  
    /* border-color: #dee2e6 #dee2e6 #fff; */
  }
  
  .forced-center {
    margin: 0 auto !important;
  }
  
  /* Muzner Topu 5 Feb */
  .seeding-bottom-icon {
    margin-top: -5px;
  }
  
  .seeding-bottom-icon a:hover {
    color: black;
  }
  .seeding-bottom-icon img {
    width: 50px;
    position: relative;
    top: -10px;
    margin: 0px 15px;
    cursor: pointer;
  }
  
  button.seeding-dialog-btn {
    background: #7daa00;
    color: #fff;
    width: 45%;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-transform: uppercase;
    margin: 5px;
  }
  
  .forced-margin {
    margin-left: 4px;
  }
  
  .to-custom-text {
    position: relative;
  }
  .scanned {
    width: 30px;
    height: 5px;
    background: black;
    display: block;
    position: absolute;
    top: 0.7rem;
    left: 0;
  }
  
  .not-scanned {
    width: 20px;
    height: 20px;
    background: #ededed;
    display: block;
    position: absolute;
  
    left: 0;
  }
  .more-than-expected {
    width: 20px;
    height: 20px;
    background: #facb48;
    display: block;
    position: absolute;
  
    left: 0;
  }
  
  .less-than-expected {
    width: 20px;
    height: 20px;
    background: #d23333;
    display: block;
    position: absolute;
  
    left: 0;
  }
  .to-custom-text p {
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .return-box {
    width: 20px;
    height: 20px;
    background: #9833d2;
    display: block;
    position: absolute;
  
    left: 0;
  }
  
  .strip-box {
    width: 20px;
    height: 20px;
    background-image: linear-gradient(
      110deg,
      #ffe0e0 33.33%,
      #ffffff 33.33%,
      #ffffff 50%,
      #ffe0e0 50%,
      #ffe0e0 83.33%,
      #ffffff 83.33%,
      #ffffff 100%
    );
    background-size: 14.96px 43.86px;
    display: block;
    position: absolute;
  
    left: 0;
  }
  
  .to-seed-inventory-assignment-column-sort–1 {
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
  }
  
  .to-seed-inventory-assignment-column-sort–1-element i {
    font-size: 200px;
    color: #83ae0d;
  }
  .to-seed-inventory-assignment-column-sort–1-element p {
    font-size: 50px;
    font-weight: 600;
  }
  
  tr.strikeout4 td:before {
    content: " ";
    position: absolute;
    border-bottom: 2px solid#111;
    width: 86%;
    right: 12%;
    margin-top: 0.7rem;
  }
  
  tr.strikeout4 td:after {
    content: "\00B7";
    font-size: 1px;
  }
  
  .to-purchase-title-2 {
    font-weight: bold;
    padding: 5px 0px;
    color: white;
  }
  
  .seeding-sow-space {
    margin-top: 22px;
  }
  
  select.to-classic-seed {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("assets/icons/seed-down.png");
    background-size: 2.4em;
    background-position: calc(100% - 0em) center;
    background-repeat: no-repeat;
  }
  
  .to-seed-td-color4 {
    background-color: #dae7b8;
  }
  .to-seed-td-color5 {
    background-color: #f5f5f5;
  }
  
  .to-seed-td-color6 {
    background-color: #ff9c9c;
  }
  
  .to-custom-text-new p {
    margin-left: 25px;
    margin-bottom: 10px;
  }
  
  .bottom-space {
    padding-top: 25px;
  }
  
  .to-completed {
    width: 20px;
    height: 20px;
    background: #dae7b8;
    display: block;
    position: absolute;
  
    left: 0;
  }
  .to-inprogress {
    width: 20px;
    height: 20px;
    background: #ff9c9c;
    display: block;
    position: absolute;
  
    left: 0;
  }
  .not-started {
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    display: block;
    position: absolute;
  
    left: 0;
  }
  .to-seed-th2 {
    background-color: white !important;
    color: black !important;
    font-size: 20px;
    font-weight: bold;
  }
  .to-seed-table2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
  
  /* Munzer Topu 6 Feb  */
  
  button.top-seed-default {
    color: #fff;
    background: #89b219;
    font-size: 32px;
    padding: 3px 50px;
    border-radius: 10px;
    width: 280px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
    border: 1px solid;
  }
  
  button.top-seed-default:hover {
    color: #fff;
    text-decoration: none;
  }
  a.top-seed-default {
    color: #fff;
    background: #89b219;
    font-size: 32px;
    padding: 3px 50px;
    border-radius: 10px;
    width: 280px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
    border: 1px solid;
  }
  
  a.top-seed-default:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  a.seed-top-margin {
    margin-top: 2.6rem;
  }
  
  button.top-seed-default.seed-top-margin {
    margin-top: 2.6rem;
  }
  
  .to-seed-table-row-color-green {
    background-color: #8dc100 !important;
    color: white;
  }
  
  .to-seed-table-row-color-red {
    background-color: #d23333 !important;
  }
  
  .to-checkIcon {
    color: #8dc100;
    padding-left: 5px;
  }
  
  .to-checkIcon-white {
    color: white;
    padding-left: 5px;
  }
  .to-crossicon {
    color: #d23333;
    padding-left: 5px;
  }
  
  .to-seed-table4 {
    font-size: 20px;
  }
  
  .to-td-bold {
    font-size: 24px;
    font-weight: bold;
  }
  .to-td-bold-right {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-left: 25%;
  }
  
  .td-text-bold {
    font-weight: bolder;
  }
  
  .comment-color {
    color: #d23333;
  }
  
  .to-seed-row-color-7 {
    background-color: #c70000;
    color: white !important;
  }
  .to-seed-row-color-8 {
    background-color: #5d5c5c !important;
    color: white;
  }
  .to-seed-row-color-9 {
    background-color: #757474;
    color: white;
  }
  
  /* Muzner Topu 7 Feb */
  
  .bg-image {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("assets/images/Maindashboardbg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  }
  
  .loginLogo img {
    width: 100px;
  }
  
  .loginForm {
    width: 100%;
    text-align: center;
  }
  .loginForm input {
    width: 335px;
    padding: 30px 15px;
    border: 1px solid #9f9f9f;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
  }
  .loginArea {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("assets/images/Maindashboardbg.jpg") no-repeat center center fixed;
    background-size: 100%;
    /* -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover; */
    height: 100vh;
    transition: 1s;
  }
  .loginForm p {
    font-style: italic;
    color: #848282;
    margin-bottom: 10px;
  }
  
  .loginFormButton {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .loginFormButtonLogin span a {
    color: #fff;
    text-decoration: none;
    background: rgb(114, 156, 0);
    background: linear-gradient(
      90deg,
      rgba(114, 156, 0, 1) 0%,
      rgba(150, 204, 5, 1) 52%,
      rgba(114, 156, 0, 1) 100%
    );
    display: block;
    width: 334px;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
  }
  
  .loginFormButtonFoget span a {
    color: #fff;
    background: rgb(99, 97, 97);
    background: linear-gradient(
      90deg,
      rgba(99, 97, 97, 1) 0%,
      rgba(130, 130, 130, 1) 52%,
      rgba(99, 97, 97, 1) 100%
    );
    display: block;
    width: 334px;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 26px;
    margin-top: 10px;
  }
  
  a.forgetPinButton:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .loginHeroImage.text-center img {
    width: 55%;
    margin-bottom: 50px;
  }
  
  .loginPagefooterText p {
    color: #aba9a9;
    font-size: 12px;
  }
  
  .loginPagefooterText {
    margin-top: 15px;
  }
  
  .bg-scale {
    background-size: 150%;
  }
  
  .dialogPin2-button a {
    color: #fff;
    background: #7daa00;
    padding: 5px 0px;
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
  
    text-decoration: none;
  }
  
  .dialogPin2-button a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .seeding-button-area {
    padding: 10px;
    text-align: center;
    /* display: inherit; */
  }
  
  /* Muzner Topu 10 Feb */
  
  .OrderSeed-modal-content {
    width: 715px;
    margin-left: -100px;
  }
  
  .OrderSeedColumns1 {
    margin-top: 3rem;
  }
  .OrderSeedColumns1 p {
    color: #fff;
    padding: 5px 0px;
  }
  
  .OrderSeedTextBox {
    border: 1px solid white;
    background: white;
  }
  
  .OrderSeedText {
    padding: 10px;
    color: #818080;
  }
  
  .OrderSeedTopButtons {
    margin-top: 6rem;
  }
  
  button.seeding-dialog-btn-top {
    background: #8dc100;
    color: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .seed-remove-button {
    background: #c70000 !important;
  }
  
  .OrderSeedColumns3 p {
    color: #fff;
    margin-bottom: -2px;
  }
  
  .OrderSeedColumns3 span {
    color: #8a8a8a;
    /* margin-bottom: 0.2rem; */
  }
  
  .OrderSeedTextBox2 {
    border: 1px solid white;
    background: white;
  }
  
  button.seeding-dialog-btn-columns {
    background: #8dc100;
    color: #fff;
    width: 46%;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5px;
  }
  
  .es_productionLabelsButton {
    padding-right: 30px;
  }
  
  .es_verticaCenter {
    padding-top: 200px;
  }
  
  .es_dirtText {
    color: #777676;
    font-size: 2.6rem;
  }
  
  .BottomButtons a {
    text-decoration: none !important;
  }
  
  .to-seed-row-color-6 {
    background-color: #83ae0d !important;
    color: white;
  }
  
  .seeding-dialog7-context {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  
  .seeding-dialog7-context p {
    line-height: 25px;
    font-size: 1.5rem;
  }
  
  /* Munzer Topu 11 FEB */
  
  .subModule-item-box {
    background: #2d2d2d;
    color: #fff;
  
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .subModule-item-box img {
    margin-left: 20px;
    margin-right: 10px;
    height: 64px;
  }
  
  .subModule-item-box span a {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;
    display: inline-block;
    text-align: left;
    line-height: 1.8rem;
  }
  
  .to-purchase-title span {
    font-size: 12px;
  }
  
  .sprayforcedtop {
    margin-top: -1.5rem;
  }
  
  .sprayFormButton {
    margin-top: 2rem;
  }
  
  .SprayInputBorder {
    border: 1px solid #ff0000 !important;
    height: 60px !important;
  }
  
  .input-group-text.bg-transparent.SprayInputBorder {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ff0000;
    border-radius: 0.25rem;
  }
  
  .to-spray-title {
    font-size: 24px;
    padding: 10px 0px;
  }
  
  .to-spray-title span {
    font-size: 12px;
  }
  
  select.to-growing-path {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("assets/icons/growing-path.png");
    background-size: 1.4em;
    background-position: calc(100% - 1em) center;
    background-repeat: no-repeat;
  }
  
  /* Muzner Topu 12 Feb */
  
  ul.list-inline.DailyTaskTopList {
    font-size: 18px;
    color: #fff;
    padding-top: 35px;
  }
  
  ul.list-inline.DailyTaskTopList .list-inline-item:not(:last-child) {
    margin-right: 4.5rem;
  }
  
  .row.DailyTaskTopInput input {
    margin: 5px;
  }
  
  ul.list-inline.DailyTaskTopCheckbox {
    padding-top: 15px;
    font-size: 18px;
    color: white;
  }
  
  ul.list-inline.DailyTaskTopCheckbox .list-inline-item:not(:last-child) {
    margin-right: 2.5rem;
  }
  
  ul.list-inline.DailyTaskTopCheckbox
    .list-inline-item
    .checkbox-inline
    input[type="checkbox"] {
    margin: 0px 8px;
  }
  
  .DailyTaskTopBottomFilter {
    background: #707070;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .DailyTTT p {
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 0;
  }
  
  .DailyTTT span {
    color: #fff;
    font-size: 20px;
  }
  
  .DailyTaskTopBottomFilter2 {
    background: #83ae0d;
    color: #fff;
    font-size: 22px;
    /* padding-left: 1rem; */
    padding: 10px 15px;
  }
  
  .table-striped.custom-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
  }
  .table-striped.custom-striped tbody tr:nth-of-type(even) {
    background-color: #e2e2e2;
  }
  
  .dailyTaskTdWhite {
    background-color: #fff;
    color: #000000;
    font-size: 28px;
  }
  
  .dailytask2ndCol {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: bold;
  }
  .dailytask3rdCol {
    color: #74a119;
    font-size: 13px;
  }
  .dailytask4thCol {
    color: #654321;
    font-size: 13px;
  }
  .dailytask5thCol {
    color: #2d99c2;
    font-size: 13px;
  }
  
  .table.table-striped.custom-striped.custom-table-padding td,
  .table th {
    padding: 1.1rem;
  }
  
  .AddNewFeedContent p {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  select.to-growing-path-modal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("assets/icons/growing-path.png");
    background-size: 1rem;
    background-position: calc(100% - 1em) center;
    background-repeat: no-repeat;
  }
  
  .logout-modal .modal-content.NewFeed {
    background-color: #3d3c3c;
    width: 722px;
    margin-left: -10rem;
    margin-top: 5rem;
  }
  
  table.table-borderless.NewFeedTable {
    font-size: 12px;
  }
  
  tr.New1stRow {
    color: #fff;
    opacity: 0.6;
  }
  
  tr.New2ndRow {
    color: #fff;
    background-color: #707070;
    font-size: 11px;
  }
  
  .NewFeedInputTitle p {
    font-size: 18px;
    color: #fff;
    padding: 10px 0px;
  }
  
  a.growing-dialog-btn {
    background: #8dc100;
    color: #fff !important;
    width: 328px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
  }
  
  a.growing-dialog-btn:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  ul.list-inline.DailyTaskTopCheckbox2 {
    font-size: 18px;
    color: white;
  }
  
  .checkbox-inline.no-label-margin {
    margin-bottom: 0;
  }
  
  .logout-modal .modal-content.AddWeather {
    background-color: #3d3c3c;
    width: 458px;
  
    margin-top: 5rem;
  }
  
  .WhetherInputTitle p {
    font-size: 18px;
    color: #fff;
    margin: 10px 1px;
  }
  
  a.growing-whether-dialog-btn {
    background: #8dc100;
    color: #fff !important;
    width: 190px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
  }
  
  a.growing-whether-dialog-btn:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  input.to-classic-calender {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("assets/icons/school-calendar.png");
    background-size: 1.4em;
    background-position: calc(100% - 1em) center;
    background-repeat: no-repeat;
  }
  
  .checkbox-inline.DailyTaskTableCheckBox {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-right: 10px;
  }
  
  .custom-control-label::before,
  .custom-control-label::after {
    top: 0.8rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .checkbox-1x {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  
  .dailytaskPerCol {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
  
  tr.DailyTak3NTableRowRed {
    color: #fff;
    background: #cc0000;
  }
  tr.DailyTak3NTableRowBlue {
    color: #fff;
    background: #0029cc;
  }
  
  .table-striped.dailytaskwhite tbody tr:nth-of-type(odd) {
    background-color: #eaeaea;
  }
  .table-striped.dailytaskwhite tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
  }
  .table-striped.dailytaskbench1 tbody tr:nth-of-type(odd) {
    background-color: #eaeaea;
  }
  .table-striped.dailytaskbench1 tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
  }
  
  .dailytaskbench1Th {
    background-color: #83ae0d !important;
    color: #fff;
  }
  
  .DailyTTT a:hover {
    color: transparent;
  }
  
  /* 
  Munzer Topu 14 Feb */
  
  table .thead-dark.vbm-thead th {
    background-color: #3d3c3c;
    color: #fff;
  }
  
  .table-striped.sprayRecordsTable {
    font-size: 17px;
  }
  
  .table-striped.sprayRecordsTable tbody tr:nth-of-type(odd) {
    background-color: #eaeaea;
  }
  .table-striped.sprayRecordsTable tbody tr:nth-of-type(even) {
    background-color: #f4f4f4;
  }
  
  .sprayRecordsTdRed {
    background-color: #de0000;
    color: #fff;
  }
  
  .logout-modal .modal-content.ViewReport {
    background-color: #3d3c3c;
    width: 797px;
    margin-left: -10rem;
    margin-top: 5rem;
  }
  
  .RecordBox {
    width: 751px;
    background: #fff;
  }
  
  .RecordBox p {
    padding: 280px 0px;
    font-size: 32px;
    color: #8f8f8f;
  }
  
  a.growing-dialog-record-btn {
    background: #8dc100;
    color: #fff !important;
    width: 240px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
  }
  
  a.growing-dialog-record-btn:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  .growing-dialog-record-btn a {
    color: #fff;
  }
  .growing-dialog-record-btn a:hover {
    color: #fff;
    text-decoration: transparent;
  }
  
  .table.table-striped.table-bordered.sprayRecordsTable td,
  .table th {
    padding: 1rem;
  }
  
  button.growing-training-btn {
    background: #8dc100;
    color: #fff !important;
    width: 590px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    font-size: 36px;
    text-decoration: none;
    margin: 10px;
  }
  
  .TrainingArea {
    padding: 295px;
  }
  
  .growing-training-btn a {
    color: #fff;
  }
  .growing-training-btn a:hover {
    color: #fff;
    text-decoration: transparent;
  }
  
  table.table-borderless.HowToSpray {
    font-size: 20px;
  }
  .HowToSprayHeader {
    background: #9e9e9e !important;
    color: #fff !important;
  }
  
  .HowToSprayRow2 {
    background: #f4f4f4;
  
    color: #000000;
  }
  
  .how-to-spray-td a:hover {
    color: black;
  }
  .how-to-spray-td img {
    height: 40px;
    position: relative;
  
    cursor: pointer;
  }
  
  .HowtoSprayPadding {
    padding-top: 25%;
  }
  
  .es_purchase-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f2f2f;
  }
  
  .es_purchase-li {
    float: left;
  }
  
  .es_purchase-menu-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .es_beforePurchase-menu-item {
    display: block;
    color: #888888;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .es_check-purchase {
    color: #83ae0d;
  }
  
  .ReceiverOrderTableRow {
    color: #787878;
    font-size: 17px;
  }
  .ReceiverOrderTableRowTotals {
    color: #ffffff;
    font-size: 17px;
    background-color: #8b8686;
  }
  
  .RunningPOCheck {
    padding-right: 5rem;
    font-size: 24px;
  }
  
  ul.list-inline.RunningPO .list-inline-item {
    padding-right: 1rem;
  }
  
  .table-striped.table-borderless.SeeHistory {
    font-size: 20px;
  }
  
  .table-striped.table-borderless.SeeHistory tbody tr:nth-of-type(even) {
    background-color: #f7f7f7;
  }
  .table-striped.table-borderless.SeeHistory tbody tr:nth-of-type(odd) {
    background-color: #e5e5e5;
  }
  
  /* Munzer Topu 18 Feb */
  
  .SearchByMapBottomIndicators {
    padding: 12px;
    background: #fff;
  }
  
  .SearchByMap-bottom-icon {
    margin-top: -5px;
  }
  
  .SearchByMap-bottom-icon p {
    color: #3d3c3c;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 15px;
    margin-bottom: 0.5rem;
  }
  .SearchByMap-bottom-icon span {
    color: #3d3c3c;
    font-size: 12px;
    font-weight: 500;
  }
  
  .SearchByMap-bottom-icon a:hover {
    color: black;
    text-decoration: none;
    pointer-events: none;
  }
  .SearchByMap-bottom-icon img {
    position: relative;
    margin: 0px 15px;
    pointer-events: none;
  }
  
  .SearchByMap-bottom-icon img.plus-noti {
    height: 30px;
    position: relative;
    margin: 0px 15px;
    cursor: pointer;
  }
  
  .logout-modal .modal-content.Notifications {
    background-color: #3d3c3c;
    width: 939px;
    margin-left: -10rem;
    margin-top: 5rem;
  }
  
  .notitfification-content .row {
    background: rgb(148, 22, 22);
    background: linear-gradient(
      90deg,
      rgba(148, 22, 22, 1) 0%,
      rgba(148, 22, 22, 1) 55%,
      rgba(148, 22, 22, 0.11248249299719892) 100%
    );
    padding: 10px 0px;
    margin-bottom: 2px;
    color: #fff;
  }
  
  .notification-dialog-button button {
    width: 45%;
    margin-top: 10px;
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .notification-dialog-button button:hover {
    background: #7daa00;
    border: 1px solid #fff;
  }
  
  .notification-dialog-button .notification-black-button {
    background: #5d5c5c;
    border: 1px solid #fff;
    margin-left: 5px;
  }
  
  .SearchByMap-notification-top img {
    height: 40px;
    position: relative;
    margin: 0px 15px;
    cursor: pointer;
  }
  
  .SearchByMap-notification-top a {
    color: #fff;
    font-size: 18px;
  }
  .SearchByMap-notification-top-text {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
  }
  
  /* Munzer Topu 20 Feb */
  
  .SearchByGridThead {
    background: #707070;
    font-size: 16px;
    color: #fff;
  }
  
  .table-striped.table-bordered.SearchByGrid tbody tr:nth-of-type(even) {
    background-color: #d9d9d9;
    font-size: 29px;
  }
  .table-striped.table-bordered.SearchByGrid tbody tr:nth-of-type(odd) {
    background-color: #efefef;
    font-size: 29px;
  }
  
  .table.table-striped.table-bordered.SearchByGridHouseDR1 {
    margin-bottom: 0;
  }
  
  .SearchByGridHouseDR1Thead {
    background: #85af11;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }
  
  .table.SearchByGridHouseDR1 {
    font-size: 17px;
    background: #efefef;
    color: #3d3c3c;
  }
  
  .SearchByGridHouseDR1TwoEvenRows {
    background: #7d7d7d;
    color: #ffffff;
  }
  .SearchByGridBay1sRED {
    background: #ffd1d1;
  }
  .SearchByGridBay1sBLUE {
    background: #dbe0f8;
  }
  
  .table.SearchByGridBench {
    margin-bottom: 0rem;
  }
  
  /* Munzer Topu 24 Feb */
  
  .to-purchase-title-new {
    font-weight: 600;
    padding: 10px 5px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .no-container-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .seed-trays-text p {
    font-size: 16px;
    margin-top: 0.4rem;
  }
  
  .to-seed-thead-trays {
    background-color: #707070;
    color: white;
    font-size: 13px;
  }
  
  .to-seed-table-trays {
    font-size: 13px;
  }
  
  .table.to-seed-table-trays.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ededed;
  }
  .table.to-seed-table-trays.table-striped tbody tr:nth-of-type(even) {
    background-color: #f8f8f8;
  }
  
  .to-seed-thead-trays-right {
    background-color: #707070;
    color: white;
    font-size: 16px;
  }
  
  .to-filter-bg-trays-right {
    background-color: #707070;
  }
  
  .to-trays-table-row-color-green {
    background: #8dc100 !important;
    color: #fff;
  }
  
  .to-row-none {
    pointer-events: none;
  }
  
  .logout-modal .modal-content.SeedTraysAssign {
    background-color: #3d3c3c;
    width: 577px;
    margin-left: -4rem;
    margin-top: 5rem;
  }
  
  .SeedTraysText p {
    font-size: 22px;
    font-style: italic;
    color: #fff;
  }
  
  .SeedTraysInputTitle p {
    font-size: 22px;
    color: #fff;
    padding-top: 5px;
    margin-bottom: 0.2rem;
  }
  
  input.form-control.forced-margin.input-disabled {
    background: #fff;
    opacity: 0.56;
  }
  
  a.seed-trays-dialog-btn {
    background: #8dc100;
    color: #fff !important;
    width: 250px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    text-decoration: none;
    font-size: 26px;
    margin: 5px;
  }
  .seed-trays-dialog-btn a {
    color: #fff !important;
  }
  .seed-trays-dialog-btn a:hover {
    color: #fff !important;
    text-decoration: none;
  }
  
  a.seed-trays-dialog-btn:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
  
  .SearchByMap-bottom-icon-2 a {
    color: #3d3c3c;
    font-size: 15px;
    font-weight: 500;
  }
  
  .SearchByMap-bottom-icon-2 a:hover {
    color: black;
    text-decoration: none;
    pointer-events: none;
  }
  .SearchByMap-bottom-icon-2 img {
    position: relative;
    margin: 0px 15px;
    cursor: none;
  }
  
  tr.strikeout5 td:before {
    content: " ";
    position: absolute;
    border-bottom: 1px solid#111;
    width: 58%;
    right: 40%;
    margin-top: 0.5rem;
  }
  
  tr.strikeout5 td:after {
    content: "\00B7";
    font-size: 1px;
  }
  
  /* 
  Munzer Topu 25 Feb  */
  
  .logout-modal .modal-content.PatchingNeeds {
    background-color: #3d3c3c;
    width: 570px;
    margin-left: -4rem;
    margin-top: 7rem;
  }
  .logout-modal .modal-content.CreatePatchingList {
    background-color: #3d3c3c;
    width: 560px;
    margin-left: -4rem;
    margin-top: 7rem;
  }
  
  .PatchingNeedsText p {
    font-size: 26px;
    color: #fff;
    padding: 2rem 0rem;
  }
  
  .to-td-bold-patching {
    font-weight: 700;
  }
  
  /* Munzer Topu 26 Feb */
  
  .notification-box-padding-1x {
    height: 150px;
  }
  .notification-box-padding-2x {
    height: 300px;
  }
  
  /* 
  Munzer Topu 27 Feb  */
  
  p.DailyTTTPadding {
    padding-bottom: 1.2rem;
  }
  
  .DirtProductionButtonArea {
    text-align: center;
    padding-top: 2rem;
  }
  
  a.seeding-dirt-btn {
    background: #8dc100;
    color: #fff !important;
    width: 590px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    font-size: 36px;
    text-decoration: none;
    margin: 10px;
  }
  
  a.seeding-dirt-btn:hover {
    color: #fff;
    text-decoration: transparent;
  }
  
  /* Muzner Topu 28 Feb */
  
  /* Muzner Topu 3 March */
  
  a.growing-training-btn {
    background: #8dc100;
    color: #fff !important;
    width: 590px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 14px;
    padding: 15px 0;
    font-size: 36px;
    text-decoration: none;
    margin: 10px;
  }
  
  /* Munzer Topu 5 March */
  
  button.patching-combifix-btn {
    color: #fff;
    background: #89b219;
    font-size: 29px;
    padding: 3px 50px;
    border-radius: 10px;
    width: 400px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
    border: 1px solid;
  }
  button.patching-combifix-edit-btn {
    color: #fff;
    background: #89b219;
    font-size: 29px;
    padding: 3px 50px;
    border-radius: 10px;
    width: 280px !important;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
    border: 1px solid;
  }
  button.patching-combifix-submit-btn {
    color: #fff;
    background: #89b219;
    font-size: 26px;
    padding: 0px 15px;
    border-radius: 10px;
    width: 130px !important;
    text-decoration: none;
    display: block;
  
    margin: 5px;
    border: 1px solid;
  }
  
  .to-filter-text-patching {
    padding: 20px;
    font-size: 24px;
    color: white;
    font-weight: 600;
  }
  
  .patching-box {
    border: 1px solid;
    background: #6d6dd4;
    text-align: center;
    padding: 10px;
  }
  .patching-box p {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .crew-location-area {
    background: #596178;
    padding: 20px;
  }
  
  p.patching-title {
    color: #fff;
    font-size: 26px;
    padding: 10px 5px;
  }
  
  /* Munzer Topu 6 March */
  
  .inline-label {
    white-space: nowrap;
    /* max-width: 88px; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    float: left;
    color: #fff;
    padding: 5px;
    font-size: 16px;
  }
  
  .to-purchase-title-combifix {
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 18px;
  }
  .to-purchase-title-combifix-trays {
    color: #fff;
  
    padding: 5px;
    font-size: 18px;
  }
  
  .scan-trays-area {
    background: #48474c;
    padding: 25px;
  }
  
  .inline-input-combifix {
    display: inline-flex;
  }
  
  .sub-btn-combifix {
    margin-top: -5px;
  }
  
  /* Munzer Topu 9 March */
  
  .keboard-input {
    display: block;
    background: transparent;
    width: 1px;
    border: none;
    height: 1px;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 gray;
  }
  
  input.keboard-input:focus {
    color: transparent;
    text-shadow: 0px 0px 0px #666;
  }
  
  /* Munzer Topu 16 March */
  .table.table-striped.table-bordered.SeedProductionTable .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    text-align: center;
  }
  
  .recent-item-box span{
    cursor: pointer;
  }

  .es_button-default-to-2 {
    color: #fff !important;
    background: #7daa00;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
    width: 599px !important;
    text-decoration: none;
    margin-bottom: 10px;
}

.es_purchase-ul span{
  cursor: pointer;
}

.es_button-default-to-3 {
  color: #fff;
  background: #89b219;
  font-size: 32px;
  padding: 10px 45px;
  border-radius: 10px;
  width: 289px!important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
}