
<section>
    <app-menu-bar></app-menu-bar>
    <div class="to-filter-bg">

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="to-filter-text">
                    Add filters from the search box
                </div>

            </div>
            <div class="col-md-4 offset-md-4  text-right">
                <div class="input-group to-input-tb">
                    <input class="form-control py-2" placeholder="Search filter example">
                    <span class="input-group-append">
                                <button class="btn btn-outline-secondary to-filter-btn" type="button">
                                    <i class="fa fa-search to-icon-color"></i>
                                </button>
                            </span>
                </div>
            </div>
        </div>

    </div>

    
           
        

    

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            
            <thead class="thead-dark">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Open</td>
                    
                </tr>
                <tr>
                    <th scope="col"><i class="fas fa-square"></i></th>
                    <th scope="col">CREATED DATE</th>
                    <th scope="col">CREATED BY</th>
                    <th scope="col">ASSIGNED TO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PROJECTED COMPLETE DATE</th>
                    <th scope="col">ACTUAL COMPLETE DATE</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">TRAY SIZE</th>
                    <th scope="col">BATCH SIZE</th>

                </tr>
            </thead>
            <tbody>
                <tr class="to-patching-table-row-color">
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="" checked>
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                <tr>
                    <td>
                        
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">
                                </label>
                            </div>
                        
                    </td>
                    <td>04/10/2019</td>
                    <td>Greg Brewster</td>
                    <td>Brewster</td>
                    <td>Lorem</td>
                    <td>15/10/2019</td>
                    <td>20/10/2019</td>
                    <td>Running</td>
                    <td>10</td>
                    <td>1000</td>

                </tr>
                
               
                
                

            </tbody>
        </table>
    </div>