<app-menu-bar></app-menu-bar>
<div>
    <ul class="es_purchase-ul">
        <li class="es_purchase-li"><span routerLink="/new-purchasing-order" class="es_purchase-menu-item"><i class="fa fa-check es_check-purchase" aria-hidden="true"></i> 1. Purchase Header</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-details" class="es_purchase-menu-item">2. Purchase Details</span></li>
        <li class="es_purchase-li"><span routerLink="/purchasing-review" class="es_active-title es_purchase-menu-item">3. Purchase Review</span></li>>
    </ul>
 </div> 
<div class="container-fluid ">


    <form class="es_purchase-input">
       <div class="form-row">
         <div class="form-group col-md-3">
           <label class="to-title-f-p-size" for="inputOrderDate">Order Date</label>
           <input type="date" class="form-control to-input-f-b-c" id="inputEmail4" placeholder="04/10/2019">
         </div>
         <div class="form-group col-md-3">
           <label class="to-title-f-p-size" for="inputPurchaseOrder">Purchase Order #</label>
           <input type="text" class="form-control to-input-f-b-c" id="inputPurchaseOrder" placeholder="246813579">
         </div>
         <div class="form-group col-md-3">
               <label class="to-title-f-p-size" for="inputVendor">Vendor</label>
               <input type="text" class="form-control to-input-f-b-c" id="inputVendor" placeholder="ACME COMPANY">
             </div>
             <div class="form-group col-md-3">
                   <label class="to-title-f-p-size" for="inputCreator">Creator</label>
                   <input type="text" class="form-control to-input-f-b-c" id="inputCreator" placeholder="Greg Brewster">
                 </div>
       </div>
      
       <div class="form-row">
         <div class="form-group col-md-3">
           <label class="to-title-f-p-size" for="inputSalesOrder">Sales Order #</label>
           <input type="text" class="form-control to-input-f-b-c" id="inputSalesOrder" placeholder="0987654321">
         </div>
         <div class="form-group col-md-3">
             <div class="row">
                 <div class="col">
                       <label class="to-title-f-p-size" for="inputTerms">Terms</label>
               <select id="inputTerms" class="form-control to-input-f-b-c to-classic">
                 <option selected>Net 30</option>
                 <option>...</option>
               </select>

                 </div>

                 <div class="col">
                       <label class="to-title-f-p-size" for="inputDept">Dept</label>
           <input type="text" class="form-control to-input-f-b-c" id="inputDept" >
               
                 </div>
             </div>
               
           
         </div>
         
         <div class="form-group col-md-3">
           <label class="to-title-f-p-size" for="inputDiscounts">Discounts</label>
           <input type="text" class="form-control to-input-f-b-c" id="inputDiscounts" placeholder="Discounts">
         </div>
         <div class="form-group col-md-3">
               <label class="to-title-f-p-size" for="inputDescriptionOrder">Description of Order</label>
               <input type="text" class="form-control to-input-f-b-c" id="inputDescriptionOrder" placeholder="Order description">
             </div>
       </div>
       
     </form>

         <div class="row">
           <div class="col-12">
                   <div class=" table-responsive">
   
                           <table class="table es_purchaseDetails-table table-bordered">
                                   
                                   <thead class="es_tableHead-bg es_tableHead1">
                                     <tr>
                                       <th scope="col">Item Type</th>
                                       <th scope="col">Item Cost</th>
                                       <th scope="col">Description</th>
                                       <th scope="col"># of Units</th>
                                       <th scope="col">Shipping Type</th>
                                       <th scope="col">Surcharge</th>
                                       <th scope="col">Ship Date</th>
                                       <th scope="col">FOB</th>
                                     </tr>
                                   </thead>
                                   <tbody class="es_tableBody1">
                                         <tr>
                                           <td>Dirt</td>
                                           <td>$1000.00</td>
                                           <td>Great dirt</td>
                                           <td>10</td>
                                           <td>Shipping Type</td>
                                           <td></td>
                                           <td> 05/25/2019</td>
                                           <td></td>
      
                                         </tr>

                                         <tr class="es_table-bottom-row">
                                           <td>Total</td>
                                           <td>$1000.00</td>
                                           <td></td>
                                           <td>10</td>
                                           <td></td>
                                           <td></td>   
                                           <td></td>
                                           <td></td>
      
                                         </tr>
                                   </tbody>
                                 </table>
                                 
                       </div>
           </div>
       </div>

       <div class="row ">
           <div class="col-12">
                   <section class="text-right">
                       <div class="form-check-inline">
                           <label class="form-check-label">
                            <input type="checkbox" class="form-check-input " value="" checked>
                            </label>
                            <label for="runningPO">Running P.O.</label>
                    </div>
                    </section>
           </div>
       </div>

</div>    
<section class="button-area">
       <div class="container text-center">
           <a href="#" data-toggle="modal" data-target="#dialogPo2" type="button" class="btn  btn-lg es_button-default-to">Edit</a>
           <a href="#" data-toggle="modal" data-target="#dialogPo" type="button" class="btn  btn-lg es_button-default-to">Submit Order</a>
           <a href="#" data-toggle="modal" data-target="#dialogPo5" type="button" class="btn  btn-lg es_button-default-to">Email</a>
       </div>
       
   </section>
   