<p>purchasing-search-order works!</p>
<div class="to-filter-bg"><div class="row"><div class="col-md-4 col-sm-12"><div class="to-filter-text">Add filters from the search box</div></div><div class="col-md-3 offset-md-5  text-right"><div class="input-group to-input-tb"><input class="form-control py-2" placeholder="Search filter example"><span class="input-group-append"><i class="fa fa-search to-icon-color"></i></span></div></div></div></div>